/* Strutturare prima il layout solo con i blocchi colorati.
Solo se i blocchi colorati funzionano passiamo al particolare...
ricordatevi che un elemento con il position absolute spesso richiede un antenato con position diverso da static */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
	font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}


select {
	border: none;
	background-color: transparent;
}

header{
    display: block;
    max-width: none;
    background-color: orange;
}

main{
	display: flex;
	justify-content: center;
}

.section {
	padding: 62px 10px;
}

.container {
	max-width: 1444px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

[class^='col-'] {
	padding: 0 10px;
}

.col-4 {
	flex-basis: calc(100% * (4 / 12));
}

.main-header {
	background-color: #ff6900;
	padding: 18px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.main-header .row {
	justify-content: space-between;
}

.logo {
	height: 2rem;
}

.main-content {
	padding-top: 73px;
}

.page-footer {
	background-color: #1a1a1a;
	padding: 32px 0;
}





/* DEBUG RULERS */

.debug .row {
	border: 4px solid green;
	padding: 20px;
}

.debug .container {
	border: 4px solid red;
	padding: 20px;
}

.debug [class^='col-'] {
	border: 4px solid purple;
	padding: 20px;
}


